.homeStyle {
    @mixin card{
        width: 500px;
        height: fit-content;
    }
    .cardContainer {
        padding: 10px;
    }
    .boardCard {
        @include card();
        cursor: pointer;
    }
    .createCard{
        @include card();
        .header{
            cursor: pointer;
        }
    }
    .title{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .btnCreate {
        margin-top: 10px; 
        background-color: #5aac44;
        color: #ffffff;
        &:hover {
            background-color: #5aac44;
        }
    }
}