body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btnCreate {
    margin-top: 20px !important; 
    background-color: #5aac44 !important;
    color: #ffffff !important;
    &:hover {
        background-color: #5aac44 !important;
    }
}

.disabled{
    pointer-events: auto !important;
    cursor: not-allowed !important;

  }
.pointer{
  cursor: pointer;
}

.transparent{
  background-color: transparent !important;
}